* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial, sans-serif;
}

body {
    background-image: url("bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
}

.nav-container {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    opacity: 1;
    width: 100vw;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 16px;
}

nav ul li a {
    padding: 5px 9px;
    color: hsl(0, 0%, 100%);
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
    margin: 0 30px;
}

nav ul li a:hover {
    color: hsl(0, 0%, 95%);

}

main {
    width: 100%;
    position: absolute;
    bottom: 40%;
    margin: 10px auto;
    color: white;
    text-align: center;

}

h3 {
    font-size: 80px;

}

p {
    margin: 10px auto;
    width: 900px;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

button {
    padding: 10px 29px;
    margin-left: 10px;
    font-size:20px ;
    margin-top: 28px ;
    border: none ;
    cursor: pointer ; 
    border-radius: 10px ;
    background-color: hsl(0, 0%, 100%);
}
button:hover{
    background-color: hsl(0, 0%, 90%);
    
}